{:kotoba.app/id "cloud.itonami.isic-2591", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibypkuksefuy5c5xva4gy5nvs6g7r25i5acvpzxxxk5mhi5o6uh5e", :kotoba.app/embed-url "ipfs://bafkreibypkuksefuy5c5xva4gy5nvs6g7r25i5acvpzxxxk5mhi5o6uh5e", :published {:archive "https://kotobase.net/ipfs/bafkreibypkuksefuy5c5xva4gy5nvs6g7r25i5acvpzxxxk5mhi5o6uh5e", :size 73639, :put-status 201, :get-status 200, :at "2026-08-15T13:58:29.931Z"}}
